<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      table { border-collapse: collapse; width: 100%; }
      th, td { border: 1px solid #ccc; padding: 6px; text-align: center; }
      th { background: #f0f0f0; }
      .pager { margin: 8px 0; }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="pager">
      <a href="/list?year=<%= prev.year %>&month=<%= prev.month %>">前の月</a>
      &nbsp;|&nbsp;
      <a href="/list?year=<%= next.year %>&month=<%= next.month %>">次の月</a>
    </div>

    <table>
      <thead>
        <tr>
          <th>日付</th>
          <th>無水クロム酸 (etcrox)</th>
          <th>三価クロム (etcr3x)</th>
          <th>硫酸 (etso4x)</th>
          <th>パラジウム (predip1)</th>
          <th>CRP 金属Pd (crpmpdx)</th>
        </tr>
      </thead>
      <tbody>
        <% if (!rows || rows.length === 0) { %>
          <tr><td colspan="6">該当データはありません。</td></tr>
        <% } else { %>
          <% rows.forEach(function(r){ %>
            <tr>
              <td><%= r.date ? r.date.toISOString().slice(0,10) : '' %></td>
              <td><%= r.etcrox === null ? '' : r.etcrox %></td>
              <td><%= r.etcr3x === null ? '' : r.etcr3x %></td>
              <td><%= r.etso4x === null ? '' : r.etso4x %></td>
              <td><%= r.predip1 === null ? '' : r.predip1 %></td>
              <td><%= r.crpmpdx === null ? '' : r.crpmpdx %></td>
            </tr>
          <% }); %>
        <% } %>
      </tbody>
    </table>

    <div class="pager">
      <a href="/list?year=<%= prev.year %>&month=<%= prev.month %>">◀ 前の月</a>
      &nbsp;|&nbsp;
      <a href="/list?year=<%= next.year %>&month=<%= next.month %>">次の月 ▶</a>
    </div>
  </body>
</html>
      </tr><tr><td></td><td class='numeric'>150～220mL/L</td><td class='numeric'120～240g/L</td><td class='numeric'>40～150g/L</td><td class='numeric'>-</td><td class='numeric'>20～80g/L</td><td class='numeric'>170～300g/L</td><td class='numeric'>20～60g/L</td><td class='numeric'>15～50g/L</td><td class='numeric'>190～350g/L</td><td class='numeric'>20～50mL/L</td><td class='numeric'>0.60～1.60g/L</td></tr><tr><td class='numeric'>2015-06-23</td><td class='numeric'>188.5mL/L</td><td class='numeric'>206.2 g/L</td><td class='numeric'>43.3 g/L</td><td class='numeric' >-</td><td class='numeric'>56.0 g/L</td><td class='numeric'>199.7 g/L</td><td class='numeric'>46.5 g/L</td><td class='numeric'>46.5 g/L</td><td class='numeric'>309.5 g/L</td><td class='numeric'>51.6 mL/L</td><td class='numeric'>0.8 g/L</td><tr><td class='numeric'>2015-06-24</td><td class='numeric'>189.2mL/L</td><td class='numeric'>203.1 g/L</td><td class='numeric'>47.5 g/L</td><td class='numeric' >-</td><td class='numeric'>58.2 g/L</td><td class='numeric'>206.1 g/L</td><td class='numeric'>49.4 g/L</td><td class='numeric'>47.0 g/L</td><td class='numeric'>310.4 g/L</td><td class='numeric'>54.6 mL/L</td><td class='numeric'>0.8 g/L</td><tr><td class='numeric'>2015-06-25</td><td class='numeric'>191.3mL/L</td><td class='numeric'>208.8 g/L</td><td class='numeric'>44.9 g/L</td><td class='numeric' >-</td><td class='numeric'>56.4 g/L</td><td class='numeric'>199.1 g/L</td><td class='numeric'>48.3 g/L</td><td class='numeric'>46.9 g/L</td><td class='numeric'>302.1 g/L</td><td class='numeric'>52.1 mL/L</td><td class='numeric'>0.8 g/L</td><tr><td class='numeric'>2015-06-26</td><td class='numeric'>199.7mL/L</td><td class='numeric'>208.1 g/L</td><td class='numeric'>44.1 g/L</td><td class='numeric' >-</td><td class='numeric'>57.4 g/L</td><td class='numeric'>203.5 g/L</td><td class='numeric'>48.4 g/L</td><td class='numeric'>46.5 g/L</td><td class='numeric'>294.7 g/L</td><td class='numeric'>55.8 mL/L</td><td class='numeric'>0.8 g/L</td><tr><td class='numeric'>2015-06-29</td><td class='numeric'>189.9mL/L</td><td class='numeric'>206.7 g/L</td><td class='numeric'>47.7 g/L</td><td class='numeric'>108.1 g/L</td><td class='numeric'>55.0 g/L</td><td class='numeric'>194.5 g/L</td><td class='numeric'>47.1 g/L</td><td class='numeric'>44.9 g/L</td><td class='numeric'>296.6 g/L</td><td class='numeric'>52.2 mL/L</td><td class='numeric'>1.1 g/L</td><tr><td class='numeric'>2015-06-30</td><td class='numeric'>193.4mL/L</td><td class='numeric'>198.9 g/L</td><td class='numeric'>49.5 g/L</td><td class='numeric' >-</td><td class='numeric'>54.9 g/L</td><td class='numeric'>195.7 g/L</td><td class='numeric'>45.3 g/L</td><td class='numeric'>43.8 g/L</td><td class='numeric'>299.3 g/L</td><td class='numeric'>54.6 mL/L</td><td class='numeric'>0.9 g/L</td><tr><td class='numeric'>2015-07-01</td><td class='numeric'>189.9mL/L</td><td class='numeric'>198.2 g/L</td><td class='numeric'>49.3 g/L</td><td class='numeric' >-</td><td class='numeric'>54.0 g/L</td><td class='numeric'>192.8 g/L</td><td class='numeric'>44.5 g/L</td><td class='numeric'>43.5 g/L</td><td class='numeric'>291.0 g/L</td><td class='numeric'>53.2 mL/L</td><td class='numeric'>0.8 g/L</td><tr><td class='numeric'>2015-07-02</td><td class='numeric'>188.5mL/L</td><td class='numeric'>199.6 g/L</td><td class='numeric'>48.8 g/L</td><td class='numeric' >-</td><td class='numeric'>54.9 g/L</td><td class='numeric'>194.1 g/L</td><td class='numeric'>46.7 g/L</td><td class='numeric'>43.3 g/L</td><td class='numeric'>292.9 g/L</td><td class='numeric'>52.9 mL/L</td><td class='numeric'>0.9 g/L</td><tr><td class='numeric'>2015-07-03</td><td class='numeric'>189.9mL/L</td><td class='numeric'>200.3 g/L</td><td class='numeric'>47.2 g/L</td><td class='numeric' >-</td><td class='numeric'>56.9 g/L</td><td class='numeric'>203.2 g/L</td><td class='numeric'>46.6 g/L</td><td class='numeric'>45.7 g/L</td><td class='numeric'>294.7 g/L</td><td class='numeric'>54.2 mL/L</td><td class='numeric'>0.8 g/L</td><tr><td class='numeric'>2015-07-06</td><td class='numeric'>192.7mL/L</td><td class='numeric'>206.7 g/L</td><td class='numeric'>45.4 g/L</td><td class='numeric'>90.3 g/L</td><td class='numeric'>56.7 g/L</td><td class='numeric'>202.3 g/L</td><td class='numeric'>46.7 g/L</td><td class='numeric'>45.9 g/L</td><td class='numeric'>292.0 g/L</td><td class='numeric'>52.7 mL/L</td><td class='numeric'>1.2 g/L</td><tr><td class='numeric'>2015-07-07</td><td class='numeric'>187.8mL/L</td><td class='numeric'>204.6 g/L</td><td class='numeric'>44.1 g/L</td><td class='numeric' >-</td><td class='numeric'>56.9 g/L</td><td class='numeric'>200.7 g/L</td><td class='numeric'>48.9 g/L</td><td class='numeric'>45.4 g/L</td><td class='numeric'>298.4 g/L</td><td class='numeric'>52.9 mL/L</td><td class='numeric'>0.9 g/L</td><tr><td class='numeric'>2015-07-08</td><td class='numeric'>191.3mL/L</td><td class='numeric'>203.1 g/L</td><td class='numeric'>45.5 g/L</td><td class='numeric' >-</td><td class='numeric'>58.0 g/L</td><td class='numeric'>207.0 g/L</td><td class='numeric'>47.9 g/L</td><td class='numeric'>44.4 g/L</td><td class='numeric'>302.1 g/L</td><td class='numeric'>50.7 mL/L</td><td class='numeric'>0.8 g/L</td><tr><td class='numeric'>2015-07-09</td><td class='numeric'>187.1mL/L</td><td class='numeric'>204.6 g/L</td><td class='numeric'>48.2 g/L</td><td class='numeric' >-</td><td class='numeric'>57.9 g/L</td><td class='numeric'>205.8 g/L</td><td class='numeric'>48.3 g/L</td><td class='numeric'>44.9 g/L</td><td class='numeric'>305.8 g/L</td><td class='numeric'>52.9 mL/L</td><td class='numeric'>1.1 g/L</td><tr><td class='numeric'>2015-07-10</td><td class='numeric'>187.8mL/L</td><td class='numeric'>206.0 g/L</td><td class='numeric'>49.5 g/L</td><td class='numeric' >-</td><td class='numeric'>60.0 g/L</td><td class='numeric'>215.0 g/L</td><td class='numeric'>48.8 g/L</td><td class='numeric'>45.7 g/L</td><td class='numeric'>296.6 g/L</td><td class='numeric'>51.7 mL/L</td><td class='numeric'>0.7 g/L</td><tr><td class='numeric'>2015-07-13</td><td class='numeric'>182.2mL/L</td><td class='numeric'>215.9 g/L</td><td class='numeric'>44.9 g/L</td><td class='numeric'>79.7 g/L</td><td class='numeric'>58.7 g/L</td><td class='numeric'>210.2 g/L</td><td class='numeric'>47.7 g/L</td><td class='numeric'>44.1 g/L</td><td class='numeric'>294.7 g/L</td><td class='numeric'>51.4 mL/L</td><td class='numeric'>0.8 g/L</td><tr><td class='numeric'>2015-07-14</td><td class='numeric'>177.2mL/L</td><td class='numeric'>208.8 g/L</td><td class='numeric'>49.8 g/L</td><td class='numeric' >-</td><td class='numeric'>59.2 g/L</td><td class='numeric'>212.8 g/L</td><td class='numeric'>47.4 g/L</td><td class='numeric'>44.7 g/L</td><td class='numeric'>292.0 g/L</td><td class='numeric'>53.3 mL/L</td><td class='numeric'>0.9 g/L</td><tr><td class='numeric'>2015-07-15</td><td class='numeric'>178.6mL/L</td><td class='numeric'>200.3 g/L</td><td class='numeric'>50.3 g/L</td><td class='numeric' >-</td><td class='numeric'>56.4 g/L</td><td class='numeric'>201.8 g/L</td><td class='numeric'>45.9 g/L</td><td class='numeric'>46.3 g/L</td><td class='numeric'>292.9 g/L</td><td class='numeric'>49.4 mL/L</td><td class='numeric'>0.8 g/L</td><tr><td class='numeric'>2015-07-16</td><td class='numeric'>175.8mL/L</td><td class='numeric'>194.6 g/L</td><td class='numeric'>48.8 g/L</td><td class='numeric' >-</td><td class='numeric'>56.7 g/L</td><td class='numeric'>203.4 g/L</td><td class='numeric'>45.7 g/L</td><td class='numeric'>46.5 g/L</td><td class='numeric'>296.6 g/L</td><td class='numeric'>50.0 mL/L</td><td class='numeric'>0.9 g/L</td><tr><td class='numeric'>2015-07-17</td><td class='numeric'>180.1mL/L</td><td class='numeric'>187.5 g/L</td><td class='numeric'>50.0 g/L</td><td class='numeric' >-</td><td class='numeric'>57.0 g/L</td><td class='numeric'>205.2 g/L</td><td class='numeric'>45.5 g/L</td><td class='numeric'>46.3 g/L</td><td class='numeric'>288.3 g/L</td><td class='numeric'>51.4 mL/L</td><td class='numeric'>0.8 g/L</td><tr><td class='numeric'>2015-07-21</td><td class='numeric'>177.2mL/L</td><td class='numeric'>193.2 g/L</td><td class='numeric'>46.5 g/L</td><td class='numeric'>51.4 g/L</td><td class='numeric'>56.2 g/L</td><td class='numeric'>203.3 g/L</td><td class='numeric'>43.8 g/L</td><td class='numeric'>44.4 g/L</td><td class='numeric'>309.5 g/L</td><td class='numeric'>48.0 mL/L</td><td class='numeric'>0.8 g/L</td></table>
